/*=======================================
 Common CSS
========================================*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  line-height: 1.5em;
}
img {
  max-width: 100%;
}

a.readmore {
  display: inline-block;
  background: #ff6600;
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  transition: 0.5s;
}
a.readmore:hover {
  background: #262626;
}

/*=======================================
   Header Area Style
  ========================================*/

#notice {
  background: #ff822f;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
#notice h2 {
  margin: 0;
}

#header_area {
  padding: 0px 0 15px 0;
  box-shadow: #e4e4e4 5px 0px 10px;
}
#header_area .col-md-3 {
  align-content: center;
}
#header_area .col-md-9 ul {
  font-family: "Oswald", sans-serif;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
#header_area .col-md-9 ul li {
  display: inline-block;
  position: relative;
  height: 100%;
}
#header_area .col-md-9 ul li p {
  display: block;
  position: relative;
  font-size: 14px;
  font-family: "Kaisei Decol", serif;
}
#header_area .col-md-9 ul li a {
  color: #262626;
  padding: 20px 10px;
  font-size: 16px;
  text-align: top;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
#header_area .col-md-9 ul li a:hover {
  background: #ff6600;
  color: #fff;
}

/*Dropdown Menu*/
#header_area .col-md-9 ul li ul {
  background: #262626 none repeat scroll 0 0;
  left: -99999px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 200px;
  z-index: 99999999;
}
#header_area .col-md-9 ul li:hover ul {
  left: 0px;
}
#header_area .col-md-9 ul li ul li {
  display: block;
}
#header_area .col-md-9 ul li ul li a {
  color: #fff;
  padding: 8px 10px;
}
#header_area .col-md-9 ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
#header_area .col-md-9 ul li:hover a {
  background: #ff6600;
  color: #fff;
}
#header_area .col-md-9 ul li:hover ul li a {
  background: none;
  color: #fff;
}

/*Sub Dropdown Menu*/
#header_area .col-md-9 ul li ul ul {
  left: -99999px;
  top: 0;
  position: absolute;
}
#header_area .col-md-9 ul li:hover ul li ul {
  left: -999999px;
}
#header_area .col-md-9 ul li ul li:hover ul {
  left: 200px;
}
#header_area .col-md-9 ul li ul li:hover a {
  background: #ff6600;
  color: #fff;
}
#header_area .col-md-9 ul ul li:hover ul li a {
  background: #262626;
  color: #fff;
}
#header_area .col-md-9 ul ul li ul li a:hover {
  background: #ff6600;
  color: #fff;
}
#header_area.left_menu .col-md-3 {
  order: 1;
}
#header_area.left_menu .col-md-9 {
  order: 2;
}
#header_area.right_menu .col-md-3 {
  order: 2;
}
#header_area.right_menu .col-md-9 {
  order: 1;
}
#header_area.left_menu .col-md-9 ul {
  text-align: left;
}
#header_area.center_menu .col-md-3 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
#header_area.center_menu .col-md-9 {
  width: 100%;
}
#header_area.center_menu .col-md-9 ul {
  text-align: center;
}
#header_area.center_menu .col-md-9 ul ul {
  text-align: left;
}

/*=======================================
   Index page Style
  ========================================*/

#body_area {
  padding: 45px 0;
}
#body_area .blog_area {
  width: 100%;
  margin-bottom: 18px;
  /* background: #ebebeb; */
  box-shadow: #ddd 0px 0px 10px;
  border-radius: 12px;
  padding: 15px;
}
#body_area .post_thumb {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}
#body_area .post_thumb img {
  width: 100%;
  display: block;
  transition: 0.5s;
}
#body_area .post_thumb:hover img {
  transform: scale(1.1);
}

#body_area .post_details {
  width: 100%;
}
#body_area .post_details h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
#body_area .post_details h2 a {
  color: #262626;
  text-decoration: none;
  transition: 0.5s;
}
#body_area .post_details h2 a:hover {
  color: #ff6600;
}

/*=======================================
   Sidebar Area Style
  ========================================*/
.child_sidebar {
  margin-bottom: 20px;
}
.child_sidebar form {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  overflow: hidden;
}
.child_sidebar input[type="search"] {
  background: #ececec;
  border: 0px solid #ececec;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  margin: 2px;
}
.child_sidebar input[type="search"]:focus {
  border: 0px solid #ececec;
}
.child_sidebar button[type="submit"] {
  background: #ff6600;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0;
  color: white;
  transition: 0.5s;
}
.child_sidebar button[type="submit"]:hover {
  background: #262626;
  border: 1px solid #262626;
}
.child_sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.child_sidebar ul li {
  margin-bottom: 5px;
  display: block;
}
.child_sidebar ul ul {
  display: none;
}
.child_sidebar ul li a {
  display: inline-block;
  color: #262626;
  text-decoration: none;
}
.child_sidebar ul li a:hover {
  color: #ff6600;
}
.child_sidebar h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}
.child_sidebar td#today {
  background: #ff6600;
  color: #fff;
}
.child_sidebar a.tag-cloud-link {
  color: #ff6600;
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.5s;
}
.child_sidebar a.tag-cloud-link:hover {
  background: #ff6600;
  color: #fff;
  border: 1px solid #ff6600;
}
/*=======================================
   Footer Area Style
  ========================================*/
#footer {
  background: #262626;
  padding: 40px 0 20px;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
#footer .child_sidebar ul li a {
  color: #fff;
}
#footer .child_sidebar h2 {
  border-left: 3px solid #ff6600;
  padding-left: 5px;
}
/*=======================================
   pagenav Area Style
  ========================================*/
#page_nav {
}
#page_nav p.pages {
  background: #ff6600;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
}
#page_nav p.pages span {
  display: inline-block;
  padding: 0 5px;
}
#page_nav .page-numbers {
  background: #ff6600;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  transition: 0.5s;
}
#page_nav .page-numbers.current,
#page_nav .page-numbers:hover {
  background: #262626;
}

/*=======================================
     Copyright Area Style
    ========================================*/
#copyright_area {
  background: #262626;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
#copyright_area p {
  font-size: 15px;
  margin: 0;
  color: #fff;
}
#copyright_area p a {
  font-size: 15px;
  margin: 0;
  color: #ff6600;
}
#copyright_area p a:hover {
  text-decoration: underline;
  color: #ff6600;
}
