/*=======================================
 Common CSS
========================================*/
:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --blog-bg-color: #dddddd;
  --button-bg-color: #ff6600;
  --quaternary-color: #6f42c1;
  --quinary-color: #dc3545;
  --senary-color: #198754;
  --septenary-color: #ffc107;
  --octonary-color: #0dcaf0;
  --nonary-color: #262626;
  --denary-color: #ffffff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Oswald", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 15px;
  line-height: 1.5em;
}
p {
  font-family: var(--primary-font);
  font-size: 15px;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  line-height: 1.2em;
}
img {
  max-width: 100%;
  height: auto;
}

a.readmore {
  display: inline-block;
  background: var(--button-bg-color);
  color: var(--denary-color);
  text-decoration: none;
  padding: 10px 14px;
  transition: 0.5s;
}
a.readmore:hover {
  background: #262626;
}

.button {
  background: var(--button-bg-color);
  color: var(--denary-color);
  text-decoration: none;
  padding: 10px 14px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.button:hover {
  background: var(--nonary-color);
}

/*=======================================
   Homepage Widgets Area Style
  ========================================*/
#homepage_post .child_sidebar ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
}
#homepage_post .child_sidebar ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: var(--denary-color);
  border: 1px solid #f3f3f3;
  border-radius: 10px;
}
#homepage_post .child_sidebar ul li a {
  margin: 10px;
  overflow: hidden;
  color: var(--octonary-color);
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
#homepage_post .child_sidebar ul li a:hover {
  color: var(--octonary-color);
  text-decoration: underline;
}

/*=======================================
   Shortcode Area Style
  ========================================*/
.blog_area .row {
  width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  margin-bottom: 20px;
}
.child_sidebar .col-md-4 {
  width: 100%;
  gap: 20px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
}

/*=======================================
   OWL-Carousel Area Style
  ========================================*/
#owl-slider img {
  width: 100%;
  height: 250px;
}
.owl-next {
  background: #ddd !important;
  padding: 10px 18px !important;
  border-radius: 50% !important;
}
.owl-prev {
  background: #ddd !important;
  padding: 10px 18px !important;
  border-radius: 50% !important;
}

/*=======================================
   Header Area Style
  ========================================*/

#notice {
  background: #ff822f;
  padding: 10px 0;
  color: var(--denary-color);
  text-align: center;
  margin-bottom: 10px;
}
#notice h2 {
  margin: 0;
}

#header_area {
  padding: 0px 0 15px 0;
  box-shadow: #e4e4e4 5px 0px 10px;
}
#header_area .col-md-3 {
  align-content: center;
}
#header_area .col-md-9 ul {
  font-family: var(--secondary-font);
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
#header_area .col-md-9 ul li {
  display: inline-block;
  position: relative;
  height: 100%;
}
#header_area .col-md-9 ul li p {
  display: block;
  position: relative;
  font-size: 14px;
  font-family: "Kaisei Decol", serif;
}
#header_area .col-md-9 ul li a {
  color: #262626;
  padding: 20px 10px;
  font-size: 16px;
  text-align: top;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
#header_area .col-md-9 ul li a:hover {
  background: var(--button-bg-color);
  color: var(--denary-color);
}
/*Dropdown Menu*/
#header_area .col-md-9 ul li ul {
  background: #262626 none repeat scroll 0 0;
  left: -99999px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 200px;
  z-index: 99999999;
}
#header_area .col-md-9 ul li:hover ul {
  left: 0px;
}
#header_area .col-md-9 ul li ul li {
  display: block;
}
#header_area .col-md-9 ul li ul li a {
  color: var(--denary-color);
  padding: 8px 10px;
}
#header_area .col-md-9 ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
#header_area .col-md-9 ul li:hover a {
  background: var(--button-bg-color);
  color: var(--denary-color);
}
#header_area .col-md-9 ul li:hover ul li a {
  background: none;
  color: var(--denary-color);
}
/*Sub Dropdown Menu*/
#header_area .col-md-9 ul li ul ul {
  left: -99999px;
  top: 0;
  position: absolute;
}
#header_area .col-md-9 ul li:hover ul li ul {
  left: -999999px;
}
#header_area .col-md-9 ul li ul li:hover ul {
  left: 200px;
}
#header_area .col-md-9 ul li ul li:hover a {
  background: var(--button-bg-color);
  color: var(--denary-color);
}
#header_area .col-md-9 ul ul li:hover ul li a {
  background: #262626;
  color: var(--denary-color);
}
#header_area .col-md-9 ul ul li ul li a:hover {
  background: var(--button-bg-color);
  color: var(--denary-color);
}
#header_area.left_menu .col-md-3 {
  order: 1;
}
#header_area.left_menu .col-md-9 {
  order: 2;
}
#header_area.right_menu .col-md-3 {
  order: 2;
}
#header_area.right_menu .col-md-9 {
  order: 1;
}
#header_area.left_menu .col-md-9 ul {
  text-align: right;
}
#header_area.left_menu .col-md-9 ul li {
  text-align: left;
}
#header_area.center_menu .col-md-3 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
#header_area.center_menu .col-md-9 {
  width: 100%;
}
#header_area.center_menu .col-md-9 ul {
  text-align: center;
}
#header_area.center_menu .col-md-9 ul ul {
  text-align: left;
}
/*=======================================
   Index page Style
  ========================================*/
#body_area {
  padding: 45px 0;
}
#body_area .blog_area {
  width: 100%;
  margin-bottom: 18px;
  /* background: #ebebeb; */
  box-shadow: #ddd 0px 0px 10px;
  border-radius: 12px;
  padding: 15px;
}
#body_area .post_thumb {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}
#body_area .post_thumb img {
  width: 100%;
  display: block;
  transition: 0.5s;
}
#body_area .post_thumb:hover img {
  transform: scale(1.1);
}
#body_area .post_details {
  width: 100%;
}
#body_area .post_details p span{
  display: inline-block;
  margin: 0 5px;
}
#body_area .post_details section {
  width: 100% !important;
  display: inline-block;
}

#body_area .post_details .col-md-4 {
  width: 100% !important;
}

#body_area .post_details h2 {
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: 700;
}
#body_area .post_details h2 a {
  color: #262626;
  text-decoration: none;
  transition: 0.5s;
}
#body_area .post_details h2 a:hover {
  color: var(--button-bg-color);
}
/*=======================================
   Archive Style
  ========================================*/
#archive_title,
#search_title {
  background: var(--button-bg-color);
  padding: 12px 18px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#archive_title,
#search_title h1 {
  color: var(--denary-color);
  font-size: 20px;
}
#archive_title p {
  color: var(--denary-color);
  font-size: 14px;
  margin-bottom: 0;
}

/*=======================================
   Slider Area Style
  ========================================*/
#slider_area {
  margin: 25px 0;
}
#slider_area .slider_item {
  background: var(--button-bg-color);
  padding: 20px;
  border-radius: 5px;
}
#slider_area .slider_item h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--denary-color);
  margin-bottom: 10px;
}
#slider_area .slider_item p {
  color: var(--denary-color);
  font-size: 14px;
  margin-bottom: 0;
}
#slider_area .slider_item a {
  color: var(--denary-color);
  font-size: 14px;
  font-weight: 700;
}

/*=======================================
   404 Area Style
  ========================================*/
.error_page {
  padding: 5px 0;
  text-align: center;
}
.error_page p {
  color: var(--button-bg-color);
  margin-bottom: 0;
}
.error_page h1 {
  color: #262626;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: var(--primary-font);
  text-transform: uppercase;
}
.error_page a.homepage {
  border-radius: 5px;
  color: var(--denary-color);
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background: var(--button-bg-color);
  padding: 10px 25px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 20px;
}
.error_page a.homepage:hover {
  transition: 0.5s;
  background: #262626;
}

.error_search {
  margin-bottom: 15px;
  display: block;
}
.error_search input[type="text"] {
  background: #ececec;
  border: 0px solid #ececec;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  margin: 2px;
}
.error_search input[type="text"]:focus {
  border: 0px solid #ececec;
}
.error_search input[type="submit"] {
  background: var(--button-bg-color);
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  margin: 0;
  color: white;
  transition: 0.5s;
}
.error_search input[type="submit"]:hover {
  background: #262626;
  border: 1px solid #262626;
}

/*=======================================
   Sidebar Area Style
  ========================================*/
.child_sidebar {
  margin-bottom: 20px;
  width: 100% !important;
}
.child_sidebar form {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  overflow: hidden;
}
.child_sidebar input[type="search"] {
  background: #ececec;
  border: 0px solid #ececec;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  margin: 2px;
}
.child_sidebar input[type="search"]:focus {
  border: 0px solid #ececec;
}
.child_sidebar button[type="submit"] {
  background: var(--button-bg-color);
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0;
  color: white;
  transition: 0.5s;
}
.child_sidebar button[type="submit"]:hover {
  background: #262626;
  border: 1px solid #262626;
}
.child_sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.child_sidebar ul li {
  margin-bottom: 5px;
  display: inline-block;
}
.child_sidebar ul ul {
  display: none;
}
.child_sidebar ul li a {
  display: inline-block;
  color: #262626;
  text-decoration: none;
}
.child_sidebar ul li a:hover {
  color: var(--button-bg-color);
}
.child_sidebar h2 {
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}
.child_sidebar td#today {
  background: var(--button-bg-color);
  color: var(--denary-color);
}
.child_sidebar a.tag-cloud-link {
  color: var(--button-bg-color);
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  background: var(--denary-color);
  border: 1px solid #ddd;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.5s;
}
.child_sidebar a.tag-cloud-link:hover {
  background: var(--button-bg-color);
  color: var(--denary-color);
  border: 1px solid var(--button-bg-color);
}
.child_sidebar .wp-block-categories a {
  color: var(--button-bg-color);
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  background: var(--denary-color);
  border: 1px solid #ddd;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.5s;
}
.child_sidebar .wp-block-categories a:hover {
  background: var(--button-bg-color);
  color: var(--denary-color);
  border: 1px solid var(--button-bg-color);
}
/*=======================================
   Footer Area Style
  ========================================*/
#footer {
  background: #262626;
  padding: 40px 0 20px;
  color: var(--denary-color);
  border-bottom: 1px solid #ddd;
}
#footer .child_sidebar ul li {
  margin-bottom: 5px;
  display: block;
}
#footer .child_sidebar ul li a {
  color: var(--denary-color);
}
#footer .child_sidebar h2 {
  border-left: 3px solid var(--button-bg-color);
  padding-left: 5px;
}
/*=======================================
   Page-Nav Area Style
  ========================================*/
#page_nav p.pages {
  background: var(--button-bg-color);
  color: var(--denary-color);
  padding: 5px 10px;
  font-size: 15px;
}
#page_nav p.pages span {
  display: inline-block;
  padding: 0 5px;
}
#page_nav .page-numbers {
  background: var(--button-bg-color);
  color: var(--denary-color);
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  transition: 0.5s;
}
#page_nav .page-numbers.current,
#page_nav .page-numbers:hover {
  background: #262626;
}
/*=======================================
     Copyright Area Style
========================================*/
#copyright_area {
  background: #262626;
  padding: 20px 0;
  text-align: center;
  color: var(--denary-color);
}
#copyright_area p {
  font-size: 15px;
  margin: 0;
  color: var(--denary-color);
}
#copyright_area p a {
  font-size: 15px;
  margin: 0;
  color: var(--button-bg-color);
}
#copyright_area p a:hover {
  text-decoration: underline;
  color: var(--button-bg-color);
}
/*=======================================
     Comment Area Style
========================================*/
#comments_area h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}
#comments_area label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
#comments_area label span {
  color: var(--button-bg-color);
}
#comments_area input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
#comments_area textarea,
#comments_area input {
  border: 1px solid #ddd;
  width: 100%;
  padding: 15px;
}
#comments_area textarea {
  min-height: 150px;
}

#comments_area input[type="submit"] {
  color: var(--denary-color);
  background: var(--button-bg-color);
}

/*Theme Service area style*/
#service_area {
  padding: 45px 0;
}
#service_area {
  padding: 45px 0;
}
#service_area .child_service {
  background: var(--blog-bg-color);
  box-shadow: 0 0 10px var(--blog-bg-color);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#service_area .child_service p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
#service_area .child_service img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
}
